:host {
  @apply flex flex-col justify-center;
  min-width: 50%;
}

@media only screen and (max-width: 768px) {
  :host {
    min-width: 90%;
  }
}

::ng-deep {
  .mdc-evolution-chip-set__chips {
    overflow-y: scroll;
    height: 6rem !important;

    &::-webkit-scrollbar {
      @apply hidden;
    }
  }

  table.mat-mdc-table {
    @apply max-h-80 block;
    // display: block;
    max-height: 26rem;
    overflow-y: scroll;

    thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    tbody {
      td {
        &:last-child {
          @apply w-full;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 1em;
      border-radius: 1rem !important;
    }

    &::-webkit-scrollbar-track {
      border-radius: 1rem !important;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem !important;
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
  }

  th.mdc-data-table__header-cell,
  td.mdc-data-table__cell {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .open-filter-settings-select {
    .mdc-button__label {
      z-index: -1 !important;
    }
  }

  tr {
    th.mat-column-is-watched {
      text-align: center;
    }
  }

  .mat-column-movie {
    width: 40%;
  }
}
