<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <img class="max-h-16 mr-4" alt="Cinemate logo" src="../../assets/cinemate-logo.png" />
      <button *ngIf="!isUserHasValidToken(); else validTokenTemplateRef" [routerLink]="['./']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="mr-4 !rounded-3xl" mat-button>
         <mat-icon>home</mat-icon>   
        <span>Home</span>
      </button>
      <ng-template #validTokenTemplateRef>
        <button [routerLink]="['/match']" [routerLinkActive]="['active']" class="mr-4 !rounded-3xl" mat-button>
          <mat-icon>
            compare_arrows
          </mat-icon>
          <span>Match</span>
        </button>
        <button [routerLink]="['/preferences']" [routerLinkActive]="['active']" class="mr-4 !rounded-3xl" mat-button>
          <mat-icon>settings</mat-icon>
          <span>Preferences</span>
        </button>
        <button [routerLink]="['/']" [routerLinkActive]="['active']" class="!rounded-3xl" mat-button>
          <mat-icon>search</mat-icon>
          <span>Find</span>
        </button>
      </ng-template>
      <div class="flex-auto"></div>
      <div class="user-app-preferences-container">
        <button mat-icon-button color="secondary" aria-label="Toggle theme button" (click)="toggleTheme()">
          <mat-icon *ngIf="selectedTheme === 'dark'; else lightIconContainer">brightness_3</mat-icon>
            <ng-template #lightIconContainer>
                <mat-icon>wb_sunny</mat-icon>
            </ng-template>
        </button>
      </div>
      <mat-divider [vertical]="false"></mat-divider>
      <div class="flex items-center ml-4" *ngIf="isUserHasValidToken()">
        <span class="text-sm mr-4">Logged as</span>
        <img class="rounded-full w-8" [src]="getUserAvatarUrl()" alt="User logo"/>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
