:host {
    @apply z-10;
    position: fixed;
}

@media only screen and (max-width: 640px) {
    
}

.cinemate-log {
    transition: all .4s;
}

.active {
    // border: 1px solid rgba(0,0,0, .1);
    // filter: invert(25%);
    background-color: var(--mat-icon-button-state-layer-color);
}

.user-app-preferences-container {
    display: flex;
    align-items: center;
    border-color: var(--mat-toolbar-container-text-color);
    // padding-right: 1rem;
    // &::after {
    //     content: '|';
    //     font-weight: 200;
    //     margin-left: 1rem;
    //     display: inline-block;
    //     transform: scale(1.5);
    // }
}