:host {
  @apply z-10 opacity-95;
  position: fixed;
}

.cinemate-log {
  transition: all 0.4s;
}

.active {
  background-color: var(--mat-icon-button-state-layer-color);
}

.user-app-preferences-container {
  display: flex;
  align-items: center;
  border-color: var(--mat-toolbar-container-text-color);
  &.is-vertical {
    @apply justify-center border-none pr-0 pb-2;
    border-bottom: 1px solid var(--mat-toolbar-container-text-color);
  }
}

::ng-deep {
  .mat-sidenav {
    .mat-drawer-inner-container {
      @apply p-4 flex flex-col gap-3;

      button {
        @apply m-0;
      }
    }
  }
}
