<div class="flex justify-center items-center">
  <mat-card class="md:min-w-80 w-60" color="primary">
    <mat-card-header class="w-full">
      <!-- <mat-progress-bar
        class="!absolute left-0 top-0 rounded-t-full w-full"
        mode="indeterminate"></mat-progress-bar> -->
      <mat-card-title class="text-center">Log Yourself 🌞</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-2">
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="!p-4">
      <button class="w-full" mat-raised-button (click)="login()" color="accent">
        {{ 'Log with Google' }}
      </button>
    </mat-card-actions>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
</div>
