<div class="flex justify-center items-center">
    <mat-card class="min-w-80" color="primary">
      <mat-card-header class="w-full">
        <mat-progress-bar class="!absolute left-0 top-0 rounded-t-full w-full" mode="indeterminate"></mat-progress-bar>
        <!-- <mat-card-subtitle>Sign</mat-card-subtitle> -->
        <mat-card-title class="text-center">Sign Yourself</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <p>This card has divider and indeterminate progress as footer</p> -->
        <!-- <p>{{ 'dasdasd' }}</p> -->
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button class="w-full" mat-raised-button (click)="login()">{{'Log with Google'}}</button>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>