<div class="flex justify-center items-center">
    <mat-card class="md:min-w-[600px] sm:min-w-64">
      <mat-card-header>
        <mat-card-title class="!mb-4">
          <span>Select your preference</span>
        </mat-card-title>        
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="!mt-6" [formGroup]="preferencesFormGroup">
        <mat-form-field class="w-full">
            <mat-label>Select genres</mat-label>
            <mat-select formControlName="genre">
                <mat-option *ngFor="let genreOption of genreOptions" [value]="genreOption.value" [disabled]="genreOption.disabled">{{genreOption.label}}</mat-option>
              </mat-select>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="
            preferencesFormGroup.invalid ||
            isFetchingData ||
            preferencesFormGroup.get('genre')?.value === originGenreId" mat-button color="accent" class="w-full" (click)="savePreference()">Save</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>