@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;


@include mat.core();

$default-typography: mat.define-typography-config($font-family: '"Montserrat", sans-serif');
@include mat.typography-hierarchy($default-typography);

$default-primary: mat.define-palette(mat.$indigo-palette, 100);
$default-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);
$default-warn: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

$default-theme: mat.define-light-theme((
 color: (
   primary: $default-primary,
   accent: $default-accent,
   warn: $default-warn
 ),
 typography: $default-typography,
 density: 0,
));

$dark-primary: mat.define-palette(mat.$pink-palette, 100);
$dark-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$dark-warn: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
   warn: $dark-warn
 ),
 typography: $default-typography,
 density: 0,
));

/* You can add global styles to this file, and also import other style files */
:root {
  --mdc-text-button-container-shape: 9999px;

}

.transparent-loading-spinner .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: rgba(0, 0, 0, 0.0) !important;
  box-shadow: none !important;
}

.transparent-loading-spinner .mat-mdc-dialog-surface {
  display: flex !important;
  align-items: center !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: var(--mat-app-text-color)
}

.default {
  @include mat.all-component-themes($default-theme);
}

.dark {
  @include mat.all-component-themes($dark-theme);
}